

.container {
	margin-right: 5%;
	margin-left: 10%;
	
}
@media screen and (max-width: 400px){
	.container {
		margin-right: 2%;
		margin-left: 2%;
}
	.product-list{
		background-color: white;
		padding-left: 0px;

	}

}

@media screen and (max-width: 900px){
	.container {
		margin-right: 2%;
		margin-left: 2%;
	}
	.product-list{
		background-color: white;
		padding-left: 0px;

	}
}




.m10{
	margin-left: 10%;
}

.tabs .tab a {

	color: #bdbdbd !important;
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 65px;
	padding-right: 65px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: color .28s ease;
	font-family: 'Roboto Condensed', sans-serif;
	
}
.tabs::-webkit-scrollbar {
	display: none;
}
.tabs::-moz-scrollbar {
	display: none;
}
.tabs::-moz-appearance: scrollbartrack-vertical{
	display: none;
<<<<<<< HEAD
=======
}

.tabs .tab a:hover, .tabs .tab a.active {
	background-color: transparent;
	color: #bdbdbd;
>>>>>>> 94195e1a64b80d302dea823186f5a10742422f81
}




.tabs .indicator {
	position: absolute;
	bottom: 0;
	height: 3px;
	background: #009966;
	
}

.tab a.active {
	
}

.vr{
	border-left: 1px solid #757575;
}

.product-list{
	background-color: white;
/*	min-height: 600px;*/
/*	padding-left: 8%;*/
	padding-top: 4%;
	
}
.product-img{
	width: 250px;
	display: block;
	padding-top: 10px;
}
.product-item{
	padding-left: 20px;
	padding-top: 10px;
}

.product-name{
	color: #009966;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;	
}

.details{
	color: #757575;
}

.product-details {
	padding-left: 7px;
	font-size: 13px;
	color: #757575;
	word-spacing: normal;
	text-align: left;
/*	display: inline;*/
	
}
.product-feat{
/*	padding-top: 5px;*/
/*	padding-bottom: 5px;*/
/*	padding-right: 10px;*/
	color: #424242;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
td{
	
	padding: 0px;
/*	display: inline-table;*/
	text-align: left;
	vertical-align: middle;
}
@media screen and (max-width: 900px){
	td{
		padding: 0px;
		display: block;
		text-align: left;
		vertical-align: middle;
	}
}
.img-camera{
	padding: 10px;
	width: 100px;
	
}







/*ACCESSORIES CSS*/



.container-box{
	margin: 0 5% 0 5%;
}
/*
.bord{
	border: .5px solid #e0e0e0 ;
}
*/
.img-accessories{
	width: 200px;
	margin-top: 20%;
	
}

 .productname{
	float: left;
	
}

 .product-price{
	text-align: right;
	color: red;
	
}

.img-tag{
	float: right;
	padding-top: 40px;
}
