/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.container {
		margin-left: 2%;
		margin-right: 0px;
		padding: 0;
	}
	.product-list{
		background-color: white;
		padding-left: 0px;

	}
	.breadcrumbs__item {
		display: inline;
		padding-right: 27px !important;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.container {
		margin-right: 5%;
		margin-left: 5%;

	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	
	
	/* Styles */
}


a:hover, a:focus {
	box-shadow: 0 1px rgba(231, 76, 60, 0)!important;
}

.container-tab{
	padding: 0 12.75rem !important;
}

	




.banner {
	background: url(../img/head.jpg) !important;
	background-size: 100% 551px;
	min-height: 200px;
	height: 70vh;
	background-position: right;
	background-repeat: no-repeat;
}
.cover-gradient {
	position: relative;
	height: inherit;
	background: linear-gradient(to right, rgba(255, 255, 255, .97) 10%,rgba(228, 228, 228, 0.92) 50%,rgba(0, 0, 0, 0) 100%);
}



.m10{
	margin-left: 10%;
}

.tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 100px;
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	margin: auto;
	border-right: 0 !important;
	visibility: visible !important;
	
}

.tabs {
	z-index: 0;
	position: relative ;
	overflow-x: auto ;
	overflow-y: hidden ;
	height: 48px ;
	width: 100% ;
/*	background-color: #fff;*/
	margin: 0 auto ;
	white-space: nowrap ;
}
.tabs .tab a {

	color: #bdbdbd ;
	display: block ;
	width: 100% ;
	height: 100% ;
	padding-left: 40px;
	padding-right: 35px;
	font-size: 14px ;
	font-weight: normal ;
/*	text-overflow: ellipsis ;*/
	overflow: visible;
	transition: color .28s ease ;
	padding-top: 0px;
	font-family: 'Roboto Condensed', sans-serif ;
	
}
.tabs::-webkit-scrollbar {
	display: none;
}
.tabs::-moz-scrollbar {
	display: none;
}
.tabs::-moz-appearance: scrollbartrack-vertical{
	display: none;

}

.tabs .tab a:hover, .tabs .tab a.active {
	background-color: transparent !important ;
	color: #bdbdbd !important ;

}
.tab a:hover{

}
.tabs .tab a.active {
	background: none !important;
	color: #bdbdbd !important ;
}


.tabs .indicator {
	position: absolute  ;
	bottom: 0  ;
	height: 3px  ;
	background: #009966;
/*	top: 46px;*/
	
}



.tab a.active {
	
}

.txt-line{
	line-height: 1;
}
/*
.grey-gradient{
	
	z-index:900;
	background: linear-gradient(to right, rgb(210, 210, 210) 10%,rgba(228, 228, 228, 0.92) 50%,rgba(66, 66, 66, 0.22) 100%);
}
*/

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/*SCROLL TAB*/
.left{
	
	padding: 15px;
	background:linear-gradient(to right, rgb(144, 144, 144) 10%,rgba(167, 167, 167, 0.46) 50%,rgba(175, 175, 175, 0) 100%);
	
}

.right {
	float: right;
	padding: 15px;
	background:linear-gradient(to left, rgb(144, 144, 144) 10%,rgba(167, 167, 167, 0.46) 50%,rgba(175, 175, 175, 0) 100%);
	
/*	opacity: .2;*/

	
}

.right,
.left {
/*	border: 2px solid red;*/
	min-height: 50px;
/*	min-width: 50px;*/
	display: block;
	visbility: visible;
	-webkit-transition: visbility .3s ease-out;
	transition: visbility .3s ease-out;
	
}
@media (min-width: 1025px) {
	.right,
	.left {
		visibility: hidden;
	}
	
	
}

@media (max-width: 1000px) {
	

	
	.container-tab{
	padding: 0 !important;
}
	
}

@media (max-width: 600px) {

.center {
	margin:0 !important;
	
}
.container-box {
	padding: 0!important;
}

}



.img-s{
height: 50px;
	width: 20px;
}

.vr{
	border-left: 1px solid #757575;
}


.product-list{
	background-color: white;
/*	min-height: 600px;*/
/*	padding-left: 8%;*/
	padding-top: 4%;
	
}
/*
.fuji:nth-of-type(odd){
	background-color: white;
}
.fuji:nth-of-type(even){
	background-color: #eceff1;
}
*/

.grey{
	background-color: #eceff1;
}
.product-img{
	width: 250px;
	display: block ;
	padding-top: 10px;
}
@media screen and (max-width: 600px) and {
	.product-img {
		margin-left: 10%;
		margin-right: 10%;
	}

}
.product-item{
	padding-left: 20px;
	padding-top: 10px;
}

.product-name{
	color: #009966;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;	
}

.details{
	color: #757575;
	line-height: 1.5;
}

.product-details {
	
	padding-left: 7px;
	font-size: 13px;
	color: #757575;
	word-spacing: normal;
	text-align: left;
	line-height: 1.5;
	
/*	display: inline;*/

}
li span{
	display:inline;
	margin-left:-1em;
}

.product-feat{
/*	padding-top: 5px;*/
/*	padding-bottom: 5px;*/
/*	padding-right: 10px;*/
	color: #424242;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5;
}
td{
	
	padding: 0px;
/*	display: inline-table;*/
	text-align: left ;
	vertical-align: middle ;
}
@media screen and (max-width: 900px){
	td{
		padding: 0px;
		display: block;
		text-align: left;
		vertical-align: middle;
	}
}
.img-camera{
	padding: 10px;
	width: 100px;
	
}
img {

	 display: inline !important;
}





/*ACCESSORIES CSS*/



.container-box{
	padding: 0 5.75rem;
}

.img-accessories{
	width: 150px;
	height: 150px;
	margin-top: 20%;
	
}

 .productname{
	float: left;
	
}

 .product-price{
	text-align: right;
	color: red;
	
}

.img-tag{
	float: right;
	padding-top: 40px;
	color: #cfd8dc;
}

.tab-accessories{
	padding-top: 10px;
	width: 100%;
	min-height: 90px;
	color: black;
	font-size: 12px;
	line-height: 12px;
	margin: auto;
	text-transform: uppercase;
	word-wrap: normal;
	word-break: keep-all;
	border-bottom: 1px solid grey;
	visibility: visible;
}

.tabs .tab-accessories a{
	min-height: 65px;
	color: grey;
	font-size: 12px;
	line-height: 28px;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	padding-left: 15px ;
	padding-right: 15px ;
	word-wrap: break-word;
}

.tabs .tab-accessories a.active {
	background: none !important;
	color: #009966 !important;
}
.tabs .tab-accessories .indicator {
	position: absolute  ;
	bottom: 0  ;
	height: 3px  ;
	background: white;
/*	top: 46px;*/

}
.tab-size{
	width: 14%;
}

.center{
	margin-left: 10%;
	margin-right: 10%;
}
.txt{
	display: block;
	text-align: center;
}
@media (max-width: 601px) {
	.txt{
		visibility: hidden;
	}
	.tab-accessories {
		
		width: 100%;
		min-height: 55px;
		color: black;
		font-size: 12px;
		line-height: 12px;
		margin: auto;
		text-transform: uppercase;
		word-wrap: normal;
		word-break: keep-all;
		border-bottom: 1px solid grey;
}
}


.bord{
	
	
}
