video {
	object-fit: cover;
	width: 100%;
	left: 0;
}

.tabs {
	height: 80px;
}

.tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 100px;
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	margin: auto;
	border-right: solid 1px #fff;
}


/*<<<<<<< HEAD*/
/*
.menu-indicator {
top: 8px;
position: absolute;
background: #00926e;
width: 8px;
height:50px;
left: 101%;
border-bottom-right-radius:100px;
border-top-right-radius:100px;

}
*/

.table-of-contents {
	height: 300px;
	width: 53px;
}

.table-of-contents a {
	font-size: 12px;
	padding-left: 0;
	color: #c3c3c3;
}

.table-of-contents a.active {
	font-weight: 400;
	padding-left: 0;
	height: 45px;
	width: 62px;
	border-right: 10px solid #00926e;
	border-left: 0 solid transparent;
	border-radius: 10px;
	color: #54504f;

}

.table-of-contents a:hover {
	padding-left: 0px;
	border-left: 0 solid transparent;
}

#left {
	border-left: solid 1px #fff;
}

.tabs .tab a {
	overflow: visible;
	font-weight: bold;
	font-size: 9px;
	padding: 0 16px;
	padding-top: 5px;
}

#gallery-container span {
	color: #333;
}
#side-menu {
	float:left; 
	position:absolute;
	top: 30%;
}


/*SIDE NAV ICON*/

.menu-fixed a{

	font-size: 8px;
}
.menu-fixed a i{

	font-size: 28px;
}


/*IMAGE COMPARISON*/

@import "lesshat";
.ba-slider {
	position: relative;
	/*	overflow: hidden;*/
}

.ba-slider img {
	width: 100%;
	display: block;
}

.resize {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}

.handle {
	/* Thin line seperator */
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 4px;
	margin-left: -2px;
	background: #000;
	cursor: ew-resize;
}

.handle:after {
	/* Big orange knob  */
	position: absolute;
	top: 100%;
	width: 34px;
	height: 35px;
	margin: -32px 0 0 -32px;
	content: ' ';
	color: white;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	border-radius: 50%;
	left: 17.6px;

	background: url(../../images/arrow.png);
	background-color:#03926e ;
	background-size:30px;
	background-position: center;
	background-repeat: no-repeat;
}