video {
	object-fit: cover;
	width: 100%;
	left: 0;
}

.tabs {
	height: 80px;
}

.tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 100px;
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	margin: auto;
	border-right: solid 1px #fff;
}


/*<<<<<<< HEAD*/

.table-of-contents {
	height: 375px;
	width: 70px;
}

.table-of-contents a {
	font-size: 12px;
	padding-left: 10px;
	color: #c3c3c3;
}

.table-of-contents a.active {
	text-align: center;
	font-weight: 400;
	padding-left: 0;
	margin-top: 5px;
	height: 60px;
	width: 80px;
	border-right: 10px solid #01916d;
	border-left: 0 solid transparent;
	border-radius: 10px;
	color: #54504f;
}

.table-of-contents a:hover {
	padding-left: 10px;
	border-left: 0 solid transparent;
}

#left {
	border-left: solid 1px #fff;
}

.tabs .tab a {
	overflow: visible;
	font-weight: bold;
	font-size: 9px;
	padding: 0 16px;
	padding-top: 5px;
}

#gallery-container span {
	color: #333;
}


/*IMAGE COMPARISON*/

@import "lesshat";
.ba-slider {
	position: relative;
	/*	overflow: hidden;*/
}

.ba-slider img {
	width: 100%;
	display: block;
}

.resize {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}

.handle {
	/* Thin line seperator */
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 4px;
	margin-left: -2px;
	background: #000;
	cursor: ew-resize;
}

.handle:after {
	/* Big orange knob  */
	position: absolute;
	top: 100%;
	width: 60px;
	height: 64px;
	margin: -32px 0 0 -32px;
	content: '\2039 \0020 \203A';
	color: white;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	line-height: 60px;
	background: #00926e;
	/* @blue green */
	border-radius: 50%;
	transition: all 0.3s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3), inset 0 2px 0 rgba(255, 255, 255, .5), inset 0 60px 50px -30px #00926e;
	/* lighten(@orange, 20%)*/
}

.draggable:after {
	width: 48px;
	height: 48px;
	margin: -24px 0 0 -24px;
	line-height: 48px;
	font-size: 30px;
}


/*FLOATING NAV*/

