video {
	object-fit: cover;
	width: 100%;
	left: 0;
}


.tabbs {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	height: 80px;
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
	white-space: nowrap;
}


.tabs .tabb {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 100px;
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	margin: auto;
	border-right: solid 1px #fff;
}

.tab.tabb a.active {
	background-image:url(../img/seigaiha.png);
}

.tabs .tabb .indicator {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #f6b2b5;
	will-change: left, right;
}

/*<<<<<<< HEAD*/
/*
.menu-indicator {
top: 8px;
position: absolute;
background: #00926e;
width: 8px;
height:50px;
left: 101%;
border-bottom-right-radius:100px;
border-top-right-radius:100px;

}
*/

.table-of-contents {
	height: 300px;
	width: 53px;
}

.table-of-contents a {
	font-size: 12px;
	padding-left: 0;
	color: #c3c3c3;
}

.table-of-contents a.active {
	font-weight: 400;
	padding-left: 0;
	height: 45px;
	width: 62px;
	border-right: 10px solid #00926e;
	border-left: 0 solid transparent;
	border-radius: 10px;
	color: #54504f;

}

.table-of-contents a:hover {
	padding-left: 0px;
	border-left: 0 solid transparent;
}

#left {
	border-left: solid 1px #fff;
}

.tabs .tab a {
	overflow: visible;
	font-weight: bold;
	font-size: 9px;
	padding: 0 16px;
	padding-top: 5px;
}

#gallery-container span {
	color: #333;
}
#side-menu {
	float:left; 
	position:absolute;
	top: 30%;
}


/*SIDE NAV ICON*/

.menu-fixed a{

	font-size: 8px;
}
.menu-fixed a i{

	font-size: 28px;
}


/*IMAGE COMPARISON*/

@import "lesshat";
.ba-slider {
	position: relative;
	/*	overflow: hidden;*/
}

.ba-slider img {
	width: 100%;
	display: block;
}

.resize {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}

.handle {
	/* Thin line seperator */
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 4px;
	margin-left: -2px;
	background: #000;
	cursor: ew-resize;
}

.handle:after {
	/* Big orange knob  */
	position: absolute;
	top: 100%;
	width: 34px;
	height: 35px;
	margin: -32px 0 0 -32px;
	content: ' ';
	color: white;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	border-radius: 50%;
	left: 17.6px;

	background: url(../../images/arrow.png);
	background-color:#03926e ;
	background-size:30px;
	background-position: center;
	background-repeat: no-repeat;
}





/*--------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.container {
		margin-left: 2%;
		margin-right: 0px;
		padding: 0;
	}
	.product-list{
		background-color: white;
		padding-left: 0px;

	}
	.breadcrumbs__item {
		display: inline;
		padding-right: 27px !important;
	}
}



a:hover, a:focus {
	box-shadow: 0 1px rgba(231, 76, 60, 0)!important;
}

.container-tab{
	padding: 0 12.75rem !important;
}


.tabs .tab-menu {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 100px;
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	margin: auto;
	border-right: 0 !important;
	visibility: visible !important;

}


.tabs .tab-menu a {

	color: #bdbdbd ;
	display: block ;
	width: 100% ;
	height: 100% ;
	padding-left: 40px;
	padding-right: 35px;
	font-size: 14px ;
	font-weight: normal ;
	/*	text-overflow: ellipsis ;*/
	overflow: visible;
	transition: color .28s ease ;
	padding-top: 0px;
	font-family: 'Roboto Condensed', sans-serif ;

}
.tabs::-webkit-scrollbar {
	display: none;
}
.tabs::-moz-scrollbar {
	display: none;
}
.tabs::-moz-appearance: scrollbartrack-vertical{
	display: none;

}

.tabs .tab.tab-menu a:hover, .tabs .tab.tab-menu a.active {
	background-color: transparent !important ;
	color: #bdbdbd !important ;

}
.tab a:hover{

}
.tabs .tab.tab-menu a.active {
	background: none !important;
	color: #bdbdbd !important ;
}


.tabs .indicator {
	position: absolute  ;
	bottom: 0  ;
	height: 3px  ;
	background: #009966;
	/*	top: 46px;*/

}


.txt-line{
	line-height: 1;
}


.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/*SCROLL TAB*/
.left{

	padding: 15px;
	background:linear-gradient(to right, rgb(144, 144, 144) 10%,rgba(167, 167, 167, 0.46) 50%,rgba(175, 175, 175, 0) 100%);

}

.right {
	float: right;
	padding: 15px;
	background:linear-gradient(to left, rgb(144, 144, 144) 10%,rgba(167, 167, 167, 0.46) 50%,rgba(175, 175, 175, 0) 100%);

	/*	opacity: .2;*/


}

.right,
.left {
	/*	border: 2px solid red;*/
	min-height: 50px;
	/*	min-width: 50px;*/
	display: block;
	visbility: visible;
	-webkit-transition: visbility .3s ease-out;
	transition: visbility .3s ease-out;

}
@media (min-width: 1025px) {
	.right,
	.left {
		visibility: hidden;
	}


}

@media (max-width: 1000px) {



	.container-tab{
		padding: 0 !important;
	}

}

@media (max-width: 600px) {

	.center {
		margin:0 !important;

	}
	.container-box {
		padding: 0!important;
	}

}



.img-s{
	height: 50px;
	width: 20px;
}

.vr{
	border-left: 1px solid #757575;
}


.product-list{
	background-color: white;

	padding-top: 4%;

}



.product-img{
	width: 250px;
	display: block ;
	padding-top: 10px;
}
@media screen and (max-width: 600px) and {
	.product-img {
		margin-left: 10%;
		margin-right: 10%;
	}

}
.product-item{
	padding-left: 20px;
	padding-top: 10px;
}

.product-name{
	color: #009966;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;	
}

.details{
	color: #757575;
	line-height: 1.5;
}

.product-details {

	padding-left: 7px;
	font-size: 13px;
	color: #757575;
	word-spacing: normal;
	text-align: left;
	line-height: 1.5;



}
li span{
	display:inline;
	margin-left:-1em;
}

.product-feat{

	color: #424242;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5;
}
td{

	padding: 0px;
	/*	display: inline-table;*/
	text-align: left ;
	vertical-align: middle ;
}
@media screen and (max-width: 900px){
	td{
		padding: 0px;
		display: block;
		text-align: left;
		vertical-align: middle;
	}
}
.img-camera{
	padding: 10px;
	width: 100px;

}
img {

	display: inline !important;
}





/*ACCESSORIES CSS*/



.container-box{
	padding: 0 5.75rem;
}

.img-accessories{
	width: 150px;
	height: 150px;
	margin-top: 20%;

}

.productname{
	float: left;

}

.product-price{
	text-align: right;
	color: red;

}

.img-tag{
	float: right;
	padding-top: 40px;
	color: #cfd8dc;
}
.tabbss {
	z-index: 0;
	position: relative ;
	overflow-x: auto ;
	overflow-y: hidden ;
	height: 48px ;
	width: 100% ;
	/*	background-color: #fff;*/
	margin: 0 auto ;
	white-space: nowrap ;
}

.tabbss.tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 100px;
	padding: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	margin: auto;
	border-right: 0 !important;
	visibility: visible !important;
}

.tab-accessories{
	padding-top: 10px;
	width: 100%;
	min-height: 90px;
	color: black;
	font-size: 12px;
	line-height: 12px;
	margin: auto;
	text-transform: uppercase;
	word-wrap: normal;
	word-break: keep-all;
	border-bottom: 1px solid grey;
	visibility: visible;
}

.tabbss .tab-accessories a{
	min-height: 65px;
	color: grey;
	font-size: 12px;
	line-height: 28px;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	padding-left: 15px ;
	padding-right: 15px ;
	word-wrap: break-word;
}

.tabbss .tab-accessories a.active {
	background: none !important;
	color: #009966 !important;
}
.tabbss .tab-accessories .indicator {
	position: absolute  ;
	bottom: 0  ;
	height: 3px  ;
	background: white;
	/*	top: 46px;*/

}
.tab-size{
	width: 14%;
}

.center{
	margin-left: 10%;
	margin-right: 10%;
}
.txt{
	display: block;
	text-align: center;
}
@media (max-width: 601px) {
	.txt{
		visibility: hidden;
	}
	.tab-accessories {

		width: 100%;
		min-height: 55px;
		color: black;
		font-size: 12px;
		line-height: 12px;
		margin: auto;
		text-transform: uppercase;
		word-wrap: normal;
		word-break: keep-all;
		border-bottom: 1px solid grey;
	}
}

